

    <div class="title font">
    <h1>The Simpsons Character Catalog</h1>
    </div>
    <div class="navBar" >
        <ul class="navLink">
            <li><a href="/simpsons">Home</a></li>
            <li><a href="/simpsons/create">Add Character</a></li>
            <li><a href="/simpsons/fav">Favorites</a></li>
        </ul>
    </div>
    