<link rel="stylesheet" type="text/css" href="/style.css"/>

<header>
    <%- include('partials/header') %>
</header>

<body>
    <div class="homePage">
        <h1>Welcome to your Simpsons catalog</h1>
        <h3>This is a fully functions CRUD app that allows you to create, read, update and delete character of your choosing.<br/>
            All the characters will be shown in the gallery page. You can add new characters by going to the 'Add Character' page<br/> 
            You can view or edit a character of your choosing, or delete them as well by clicking on the buttons. 
            <br/>
            <br/>
            Hope y'all enjoy
        </h3>
    </div>
</body>

<footer>
    <%- include('partials/footer') %>
</footer>
